.card-pokemon {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.card-pokemon .card-top {
    padding: 30px 40px 0;
}

.card-pokemon .name {
    margin-bottom: 5px;
}

.card-pokemon .type {
    font-size: 12px;
    background-color: #fff;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-pokemon .details {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-pokemon .card-image {
    width: 350px;
    height: 350px;
}

.card-image img {
    max-height: 100%;
}

.card-pokemon .card-information {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-pokemon .card-information h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6B727A;
}

.card-pokemon .card-information .status, .card-pokemon .card-information .abilities {
    padding: 0 10px;
    width: 180px;
}

.card-pokemon .card-information .abilities ul li, .card-pokemon .card-information .status ul li {
    font-size: 15px;
}

.card-pokemon.open {
    display: block;
}

.type-fire {
    background-color: #ED8A8B;
}

.type-water {
    background-color: #76BEFE;
}

.type-electric {
    background-color: #FCC719;
}

.type-grass {
    background-color: #49D0B0;
}

.type-ghost {
    background-color: #BA68C8;
}

.type-dragon {
    background-color: #C29791;
}